.alphabetAvatar > input {
    border: none;
    background-color: white;
    width: 5rem;
    cursor: crosshair;
}

.alphabetAvatar__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.alphabetAvatar__list > li {
    margin: 1.5rem;
    cursor: pointer;
}