.faceavatar__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.faceavatar__list > button {
  margin: 2rem;
  padding: 0.8rem 2rem;
  background-color: white;
  color: blue;
  border: 1px solid rgba(25, 118, 210, 0.5);
}

.faceavatar__list > li > img {
  margin: 1.5rem;
  cursor: pointer;
}

textarea {
    margin-bottom: 1rem;
}